@import "compass/css3";

@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*********************Hero Slider***********************/
$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Roboto Slab', serif;



.hero_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient( to bottom, transparentize(#0E1D33, 0.2) , transparentize(#0E1D33, 0.8) );
}

.hero-slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .carousel-cell {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .hero_inner {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      text-align: center;

      .hero_subtitle {
        font-family: $font-family-secondary;
        font-size: 2.2rem;
        line-height: 1.2em;
        font-weight: 200;
        font-style: italic;
        letter-spacing: 3px;
        color: rgba(255,255,255,0.5);
        margin-bottom: 5px;
      }

      .hero_title {
        font-family: $font-family-primary;
        font-size: 3rem;
        line-height: 1.2em;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 40px;
      }
      .hero_btn{
        border: 1px solid #fff;
        padding: 14px 18px;
        text-transform: uppercase;
        font-family: $font-family-primary;
        font-size: 0.8rem;
        letter-spacing: 3px;
        color: #fff;
        text-decoration: none;
        transition: all .2s ease;
        &:hover{
          background: #fff;
          color: #000;
        }
      }
    }
  }

  .flickity-prev-next-button {
    width: 80px;
    height: 80px;
    background: transparent;
    &:hover{
      background: transparent;
    }
    .arrow{
      fill: white;
    }
  }
  .flickity-page-dots {
    bottom: 30px;
    .dot{
      width: 30px;
      height: 4px;
      opacity: 1;
      background: rgba(255,255,255,0.5);
      border: 0 solid white;
      border-radius: 0;
      &.is-selected{
        background: #ff0000;
        border: 0 solid #ff0000;
      }
    }
  }
}












/********************* Index Page Grid Start************/

$color-bg: #f8f8f8;
$card-padding: 20px;
$grid-gutter: 31px;

// Media Queries breakpoints
$small: 480px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;

/*body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: $color-bg;
}*/

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 340px;
  margin: 0px auto;


  @media screen and (min-width: 1003px) {
    max-width: 1200px;
    }
  }

@media screen and (max-width: 1003px) {
 .grid {
  display: block !important;
}
}

  @media screen and (max-width: 1003px) {


    #myVideo {
      margin-bottom: 0 !important;
    }


  }


  .card {
    position: relative;
    flex: 1 1 100%;
    margin: $grid-gutter 0;
    padding: $card-padding;
    background: lighten($color-bg, 3%);


    @media screen and (min-width: $medium) {
      flex-basis: calc(33.33% - (#{$grid-gutter * 2} + #{$card-padding * 2}));
      margin: 0 $grid-gutter;
    }
  }

  .card__thumb {
    overflow: hidden;
  }


  .card__desc {
    margin-top: $card-padding;
  }


  .card__one {
    transition: transform .5s;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
      content: '';
      opacity: 0;
      z-index: -1;
    }

    &:hover,
    &:focus {
      transform: scale3d(1.006, 1.006, 1);

      &::after {
        opacity: 1;
      }
    }
  }

  /********************* Index Page Grid End************/


  /*  Pricing Menu**/
  .pricing_section {

    background-image: linear-gradient(to right top, #1c1f1f, #1b2c2e, #163942, #0c4658,
            #005370, #005371, #005471, #005472, #0b495b, #173d46, #1d3134, #1f2525);


    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    min-height: 100%;
    line-height: 1.5;
    padding: 2.5em 0;
    margin-top: 52px;
  }

  .container {
    margin: 0 auto;
    width: 70%;
    max-width: 1200px;
    text-align: center;
  }

  .group:after {
    content: "";
    display: table;
    clear: both;
  }

  .grid-1-5 {
    border: 2px solid #3c8cb5;
    margin-top: 31px;
    min-height: 400px;
    padding: 1.25em;
    position: relative;
    text-align: center;
    transition: all .2s ease-in-out;


    @media screen and (min-width: 700px) {
      & {
        float: left;
        width: 50%;

      }

      &:nth-child(odd) {
        clear: left;
      }
    }

    @media screen and (min-width: 800px) {
      & {
        width: 33.3333333%;
      }
      &:nth-child(3n+1) {
        clear: left;
      }
      &:nth-child(odd) {
        clear: none;
      }
    }
  }

    /*  @media screen and (min-width: 1120px) {
        & {
          width: 20%;
        }
        &:nth-child(odd), &:nth-child(3n+1) {
          clear: none;
        }
      }*/



  .grid-1-5:hover {
    background-color: #2C6078;
    filter-gradient: (#2C6078, #0E1211, vertical);
    background-image: linear-gradient(to top, #1c1f1f, #1b2c2e, #163942, #0c4658,
            #005370, #005371, #005471, #005472, #0b495b, #173d46, #1d3134, #1f2525);

    border-top: 2px solid #ec7a37;
    border-bottom: 2px solid #ff4f69;
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
    transform: scale(1.025);
    z-index: 2;

    &:before, &:after {
      content: "";
      position: absolute;
      background-color: rgb(246, 125, 53);
      filter-gradient: (#f67d35, #ff4f68, vertical);
      background-image: (linear-gradient(top, rgba(246, 125, 53, 1) 0%, rgba(255, 79, 104, 1) 100%));
      top: -2px;
      bottom: -2px;
      width: 2px;
    }

    &:before {
      left: -2px;
    }

    &:after {
      right: -2px;
    }

    & .pricing_button {
      background-color: rgb(238, 122, 54);
      filter-gradient: (#ee7a36, #eb495d, horizontal);
      background-image: (linear-gradient(left, rgba(238, 122, 54, 1) 0%, rgba(235, 73, 93, 1) 100%));
    }
  }

  h2, h3, p, ul {
    margin: 0
  }

  h2 {
    font-size: 1em;
    font-weight: 400;
    margin: 0 0 0.5em;
  }

  h3 {
    font-size: 1.5em;
    letter-spacing: 0.0625em;
    margin: 0 0 0.3333333333333333em;
  }

  p {
    font-size: 0.875em;
  }

  p, ul {
    margin: 0 0 1.5em
  }

  ul {
    color: #fafafa;
    font-size: 0.75em;
    list-style-type: none;
    padding: 0;

    li {
      margin: 0 0 0.8333333333333333em;
      color: rgb(122 225 255);
    }
  }

  .pricing_button {
    background-color: #20a8cf8f;
    border-radius: 20px;
    color: #ffffff;
    font-size: 1em;
    font-weight: 700;
    padding: 0.75em 1.5em;
    position: absolute;
    bottom: 1.25em;
    left: 50%;
    margin-left: -60px;
    text-decoration: none;
    width: 136px;
  }

  .uppercase, .pricing_button, h2 {
    text-transform: uppercase;
  }

  sup, .small {
    font-size: 0.6125em;
  }

  /***************************************************************  Pricing Menu* End*/

  /*********************Navigation Button************************/
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

  .btn {
    background: #056292;
    position: relative;
    display: inline-block;
    padding: 4px 27px;
    margin: 8px 5px 8px 3px;
    color: black;
    font-size: 13px;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    width: auto;


    //hover effect 2
    &--hoverEffect2 {
      display: inline-block;
      z-index: 1;
      color: #f6f8f8;

      // border:3px solid #FF3C83;

      &:hover {
        color: #194343;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        transition: 0.5s all ease;
        box-sizing: border-box;
      }

      &:hover::before {
        border-radius: 4px;
        transition: 0.5s all ease;
        left: 0;
        right: 0;
        background: linear-gradient(90deg, #21cdc9, #38567a);
        opacity: 1;
        z-index: -1;
      }
    }
  }



